# Sensitive environment variables
.envrc

# Blizzard game data — not for redistribution
assets/
data/

# Python virtual environment
.venv/

# Visual Studio Code workspace settings
.vscode/

# Temporary files
*.bak
*.old
*.tmp