# Sensitive environment variables
.envrc

# Blizzard game data — not for redistribution
assets/
data/

# Python virtual environment
__pycache__/
.mypy_cache/
.venv/
.pytest_cache/

# Visual Studio Code workspace settings
.vscode/
blizzard-developer-api.code-workspace

# Temporary files
*.bak
*.old
*.tmp