{% for cls in classes %}

public class {{ cls.name }}
{
    {% for prop in cls.properties %}
    {% if prop.types %}
    /// <summary>
    /// Can be: {{ prop.types | join(", ") }}
    /// </summary>
    {% endif %}
    public {{ prop.type }} {{ prop.name }} { get; set; }
    {% endfor %}
}
{% endfor %}