{% macro csharp_type(proptype) -%}
{%- if proptype.kind.value == "SCALAR" -%}
  {%- if proptype.type == "string" -%}string
  {%- elif proptype.type == "integer" -%}long
  {%- elif proptype.type == "float" -%}double
  {%- elif proptype.type == "boolean" -%}bool
  {%- else -%}dynamic
  {%- endif -%}
{%- elif proptype.kind.value == "ARRAY" -%}{{ csharp_type(proptype.type) }}[]
{%- elif proptype.kind.value == "OBJECT" -%}{{ proptype.type | camelize }}
{%- elif proptype.kind.value == "ANY" -%}dynamic
{%- endif -%}
{%- endmacro %}

{% macro nullable_suffix(proptype, missing) -%}
{{ "?" if proptype.nullable or missing }}
{%- endmacro %}

{% macro is_empty_array(proptype) -%}
{%- if proptype.kind.value == "ARRAY" and proptype.type.kind.value == "ANY" and proptype.type.possible_types | length == 0 -%}true
{%- else -%}false
{%- endif -%}
{%- endmacro %}

{% macro comment_required(proptype) -%}
{%- if proptype.possible_types | length > 0 -%}true
{%- elif is_empty_array(proptype) == "true" -%}true
{%- elif proptype.kind.value == "ARRAY" -%}{{ comment_required(proptype.type) }}
{%- else -%}false
{%- endif -%}
{%- endmacro %}

{% macro format_type(proptype) -%}
{%- if proptype.kind.value == "ARRAY" -%}[ {{ format_type(proptype.type) }} ]
{%- elif proptype.kind.value == "ANY" -%}
  {%- if proptype.possible_types | length == 0 -%}{{ proptype.type }}
  {%- else -%}
    {%- for nested_pt in proptype.possible_types -%}
      {{- format_type(nested_pt) -}}
      {%- if not loop.last %} | {% endif -%}
    {%- endfor -%}
  {%- endif -%}
{%- elif proptype.kind.value == "OBJECT" -%}<see cref="{{ proptype.type | camelize }}"/>
{%- else -%}{{ proptype.type }}
{%- endif -%}
{%- endmacro %}

{% for cls in classes %}

public class {{ cls.name | camelize }}
{
    {% for prop in cls.properties %}
    {% if comment_required(prop.proptype) == "true" %}
    /// <summary>
    /// Can be: {{ format_type(prop.proptype) }}
    /// </summary>
    {% endif %}
    public {{ csharp_type(prop.proptype) }}{{ nullable_suffix(prop.proptype, prop.missing) }} {{ prop.propname | camelize }} { get; set; }
    {% endfor %}
}
{% endfor %}