{% macro csharp_type(proptype) -%}
{%- if proptype.kind.value == "SCALAR" -%}
  {%- if proptype.type == "string" -%}string
  {%- elif proptype.type == "number" -%}long
  {%- elif proptype.type == "boolean" -%}bool
  {%- else -%}dynamic
  {%- endif -%}
{%- elif proptype.kind.value == "ARRAY" -%}{{ csharp_type(proptype.type) }}[]
{%- elif proptype.kind.value == "OBJECT" -%}{{ proptype.type | camelize }}
{%- elif proptype.kind.value == "ANY" -%}dynamic
{%- endif -%}
{%- endmacro %}

{% macro nullable_suffix(proptype, missing) -%}
{{ "?" if proptype.nullable or missing }}
{%- endmacro %}

{% macro has_possible_types(proptype) -%}
{%- if proptype.possible_types | length > 0 -%}true
{%- elif proptype.kind.value == "ARRAY" and proptype.type.kind.value == "ANY" and proptype.type.possible_types | length == 0 -%}true
{%- elif proptype.kind.value == "ARRAY" -%}{{ has_possible_types(proptype.type) }}
{%- else -%}false
{%- endif -%}
{%- endmacro %}

{% macro format_type(pt) -%}
{%- if pt.kind.value == "ARRAY" -%}
  {%- if pt.type.kind.value == "ANY" and pt.type.possible_types | length == 0 -%}[ any ]
  {%- else -%}[ {{ format_type(pt.type) }} ]
  {%- endif -%}
{%- elif pt.kind.value == "OBJECT" -%}<see cref="{{ pt.type | camelize }}"/>
{%- elif pt.kind.value == "ANY" and pt.possible_types | length > 0 -%}
  {%- for nested_pt in pt.possible_types -%}
    {{- format_type(nested_pt) -}}
    {%- if not loop.last %} | {% endif -%}
  {%- endfor -%}
{%- else -%}{{ pt.type }}
{%- endif -%}
{%- endmacro %}

{% macro display_possible_types(proptype) -%}
{%- if proptype.possible_types | length > 0 -%}
  {%- for pt in proptype.possible_types -%}
    {{- format_type(pt) -}}
    {%- if not loop.last %} | {% endif -%}
  {%- endfor -%}
{%- elif proptype.kind.value == "ARRAY" -%}[ {{ display_possible_types(proptype.type) }} ]
{%- else -%}{{ format_type(proptype) }}
{%- endif -%}
{%- endmacro %}

{% for cls in classes %}

public class {{ cls.name | camelize }}
{
    {% for prop in cls.properties %}
    {% if has_possible_types(prop.proptype) == "true" %}
    /// <summary>
    /// Can be: {{ display_possible_types(prop.proptype) }}
    /// </summary>
    {% endif %}
    public {{ csharp_type(prop.proptype) }}{{ nullable_suffix(prop.proptype, prop.missing) }} {{ prop.propname | camelize }} { get; set; }
    {% endfor %}
}
{% endfor %}